@charset "UTF-8";

.wrapper {
  background-color: #f5f5dc;
}

.header {
  display: flex;
  padding: 0 20px;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #f5f5dc;
}

img.logo {
  width: 50px;
  height: 50px;
}

.global_navi__item {
  display: inline-block;
  margin-left: 20px;
}

.global_navi__item:first-child {
  margin-left: 0;
}

.main_visual {
  padding-top: 70px;
}

.hero {
  width: 100%;
  height: 500px;
}

.main {
  width: 960px;
  margin: 0 auto;
  padding: 80px 0;
}

.main__title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 24px;
  color: #696969;
}

.content {
  display: flex;
  justify-content: space-between;
}

.latest_production {
  float: left;
  width: 670px;
}

.content__title {
  font-size: 18px;
  margin-bottom: 15px;
  padding-left: 10px;
  color: #696969;
  border-left: 4px solid #ff69b4;
}

.production_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.production_list li:nth-child(n + 4) {
  margin-top: 15px;
}

.production_item {
  width: 210px;
  height: 140px;
}

.self_introduction {
  float: left;
  width: 260px;
}

.self_introduction__text {
  font-size: 15px;
  line-height: 20px;
  color: #696969;
}

.footer {
  text-align: center;
  align-items: center;
  padding: 50px 0;
}

.copyright {
  font-size: 12px;
  color: #fff;
  padding: 20px 40px;
  outline: 1px solid #fff;
  outline-offset: -8px;
  background-color: #6495ed;
}
